.label {
    position: absolute;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.changeNavbar {
    background-color: black;
    z-index: 25;
}

.navbar {
    background-color: black;
    z-index: 25;
}