
.container {
  padding-bottom: 0px;
  overflow: hidden;
  height: 100vh;
  text-align: center;
}

.App-body {
  color: #282c34;
}

.page{
  margin: 0;
  background-image: url("../public/portfolio-banner.png");
}

.initial-transition {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  inset: 0;
}


