.c-body {
    padding-top: 3vw;
    font-family: 'oswald';
    background-image: url("../../public/portfolio-banner.png");
}

.c-title {
    color: white;
    font-size: 6vw;
    padding-top: 5vw;
    padding-bottom: 5vw;
    text-align: center;
}

.c-icon {
    padding: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.c-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 5vw;
}