.h-title {
    font-family: "oswald";
    color: #02a9f7;
    font-size: clamp(14px, 5vw, 70px);
    padding-top: 5vw;
    padding-bottom: 5vw;
    text-align: center;
}

.split {
    display: flex;
    flex-direction: Row;
    
}

.left-pane {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../public/portfolio-banner.png");
    height: 90vh;
    width: 45%;
}

.right-pane {
    font-family: 'oswald';
    text-align: center;
    align-content: center;
    align-items: center;
    background-image: url('../../public/ramon-salinero-vEE00Hx5d0Q-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    height: 90vh;
    width: 55%;
}

.pane-profile-image {
    
    background-color: white;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border-color: black;
    border-width:9px;
    background-image: url("../../public/image0.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 0px;
}

.pane-text {
    padding: 40px;
    font-family: 'oswald';
    position: relative;
    font-size: clamp(5px, 4vw, 25px);
    color: #d4f0fc;
}

.career-bio {
    font-family: 'oswald';
    padding-left: 50px;
    padding-right: 50px;
    color: #02577a;
    background-color: #d4f0fc;
    padding-bottom: 40px;
}
.text-body {
    border-radius: 30px;
    font-size: 2vw;
    padding: 10px;
    padding-bottom: 10px;
}

.skills-bio {
    font-family: 'oswald';
    padding-left: 50px;
    padding-right: 50px;
    color: #02577a;
    background-image: url("../../public/luca-bravo-XJXWbfSo2f0-unsplash.jpg");
    background-color: #d4f0fc;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 40px;
}
.education-bio{
    font-family: 'oswald';
    padding-left: 50px;
    padding-right: 50px;
    color: #02577a;
    background-size: cover;
    padding-bottom: 40px;
    background-color: black;

}

.work-bio{
    background-size: cover;
    background-image: url('../../public/alexandre-debieve-FO7JIlwjOtU-unsplash.jpg');
    font-family: 'oswald';
    padding-left: 50px;
    padding-right: 50px;
    color: #02577a;
    padding-bottom: 40px;
}

.left-box {
    width: 50%;
    margin: 20px;
}

.right-box{    width: 50%;
    margin: 20px;

}

.right-education {
  width: 85%
}

.luella-education {
    background-image: url("../../public/luella.jpeg");
    margin-left: 40px;
    margin-top: 40px;
    margin-right: 10px;
    margin-bottom: 40px;
    justify-content: center;
    align-content: center;
    width: 20%;
    height: 200px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

}

.uga-education {
    background-image: url("../../public/uga.png");
    margin-left: 40px;
    margin-top: 40px;
    margin-right: 10px;
    margin-bottom: 40px;
    justify-content: center;
    align-content: center;
    width: 20%;
    height: 200px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

}

.nav-button {
    font-family: 'oswald';
    font-size: 25px;
    color: black;
    padding: 0;
    background: none;
    border: none;
    margin: 20px;
    width: 20%;
}

.nav-button:hover {
    font-size: 25px;
    color: gray;
    padding: 0;
    background: none;
    border: none;
    margin: 20px;
    width: 20%;
}

.right-work {
    width: 85%
  }

.fish {
    background-image: url("../../public/138fish.jpeg");
    margin-left: 40px;
    margin-top: 40px;
    margin-right: 10px;
    margin-bottom: 40px;
    justify-content: center;
    align-content: center;
    width: 15%;
    height: 200px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.canes {
    background-image: url("../../public/canes.png");
    margin-left: 40px;
    margin-top: 40px;
    margin-right: 10px;
    margin-bottom: 40px;
    justify-content: center;
    align-content: center;
    width: 15%;
    height: 200px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
