.title {
    font-size: 30px;
    padding: 10px;
    padding-bottom: 100px;
    display:flex;
    flex-direction: row;
    align-items: center;
}

.icon {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.items {
    display: flex;
    flex-direction: row;
    align-items: center;
}